<section class="container mx-auto">
	<div class="grid grid-cols-10 text-center m-10">
		<a href="inicio_sesion">Iniciar Sesion</a>
		<a href="registro">Registro</a>
		<a href="catalogo">Catalogo</a>
		<a href="carrito">Carrito</a>
		<a href="perfil"> Perfil</a>
		<img src="assets/imagenes/Koala.png">
	</div>
</section>
<section>
    <div class="flex flex-col ...">
        <div><p>¡Su compra ha sido realizada con éxito!</p></div>
        <div><p>Codigo de orden:</p></div>
        <div><p>Su pedido será enviado a su correo</p></div>
        <div><p>Muchas gracias</p></div>
        <div>
			<button>
			Regresar al incio
			</button>
		</div>
      </div>
</section>