<section class="container mx-auto">
	<div class="grid grid-cols-10 text-center m-10">
		<a href="inicio_sesion">Iniciar Sesion</a>
		<a href="registro">Registro</a>
		<a href="catalogo">Catalogo</a>
		<a href="carrito">Carrito</a>
		<a href="perfil"> Perfil</a>
		<img src="assets/imagenes/Koala.png">
	</div>
</section>

<div class="flex flex-row ...">
    <div>
        <p class="categoria">Filtra tu producto</p>
        <div class="flex flex-col ...">
            <div>1</div>
        </div>
    </div>
    <div>
        <div class="flex flex-col ...">
            <div><p class="Buscador">Busca tu producto</p></div>
            <div class="grid grid-cols-3 gap-4">
                <div class="producto">
                    <div class="imagenProducto">
                    </div>
                    <div class="atributoProducto">
                        <p class="nombre">Producto 1</p>
                        <p class="costo">Costo 1</p>
                    </div>
                </div>
                <div class="producto">16</div>
            </div>
        </div>
    </div>
  </div>

<section>
    
</section>