<section class="container w-1/3"></section>
<div>
	<p>Usuario</p>
	<input type="text">
	<p>Contrasena</p>
	<input type="password">
	<div>
		<button (click)="iniciarSesion()" class="rounded px-2 ">Ingresar</button>
	</div>
</div>
