<section class="container mx-auto">
	<div class="grid grid-cols-10 text-center m-10">
		<a href="inicio_sesion">Iniciar Sesion</a>
		<a href="registro">Registro</a>
		<a href="catalogo">Catalogo</a>
		<a href="carrito">Carrito</a>
		<a href="perfil"> Perfil</a>
		<img src="assets/imagenes/Koala.png">
	</div>
</section>

<h1>CARRITO</h1>
<h2>Fecha: {{mesajefecha}}</h2>

  <div class="grid grid-cols-5 gap-4">
    <div class="col-span-4 ...">
      <div class="flex flex-row ...">
        <input type="number" name="cantidad" id="cantidad"  min="0" max="100" >
        <div>Imagen</div>
        <div>NombreProducto</div>
        <div>Precio</div>
      </div>
    </div>
    <div class="col-span-1 ...">
      <div class="flex flex-col ...">
        <div>Resumen:</div>
        <div>Total:</div>
        <button>Comprar</button>
      </div>
    </div>
  </div>

<section>

</section>
