
<body>
    <div id="elemento">
        <form class="box">
         <center>
            <h1 class="label">Registro de usuario</h1>
            <div class="field">
                <label class="label">Nombres</label>
                <div >
                    <input type="text" class="w-80" name="nombres" placeholder="Ingrese su nombre" [(ngModel)]="nombres">
                </div>
            </div>
            
            <div class="field">
                <label class="label">Direccion</label>
                <div>
                    <input type="text" class="w-80" name="direccion" placeholder="Ingrese su direccion" [(ngModel)]="direccion">
                </div>
            </div>
 
            <div class="field">
                <label class="label">Codigo Postal</label>
                <div>
                    <input type="email" class="w-80" name="codigopostal" placeholder="Ingrese su codigo postal" [(ngModel)]="codigopostal">
                </div>
            </div>

            <div class="field">
                <label class="label">Numero telefonico</label>
                <div>
                    <input type="text" class="w-80" name="numerotelefono" placeholder="Ingrese su numero telefonico" [(ngModel)]="numerotelefono">
                </div>
            </div>

            <div class="field">
                <label class="label">Correo electrónico</label>
                <div>
                    <input type="text" class="w-80" name="correo" placeholder="Ingrese su correo electronico" [(ngModel)]="correo">
                </div>
            </div>

            <div class="field">
                <label class="label">Contraseña</label>
                <div>
                    <input type="password" class="w-80" name="contrasena" placeholder="Ingrese su contraseña" [(ngModel)]="contrasena">
                </div>
            </div>
            
            <div class="field">
            <button  class="button is-success" v-on:click="registrar" (click)="registrar()">Registrar</button>
            </div>
            
        </center>   
        </form>
        <form action="/principal.html" align = "center">
            <button class="button is-link is-large">Inicio</button>
        </form>
    
    </div>

 </body>
   
