<section class="container mx-auto">
	<div class="grid grid-cols-10 text-center m-10">
		<a href="inicio_sesion">Iniciar Sesion</a>
		<a href="registro">Registro</a>
		<a href="catalogo">Catalogo</a>
		<a href="carrito">Carrito</a>
		<a href="perfil"> Perfil</a>
		<img src="assets/imagenes/Koala.png">
	</div>
</section>

<h1>SEGUIMIENTO DE PEDIDO</h1>
<a></a>
<h2>Haga seguimiento de su pedido</h2>
<form>
    Ingrese su codigo de orden:
    <input type="text" placeholder="    " maxlength="9">
</form>
<button class="bg-green-500 ring-4 ring-indigo-300">
    Confirmar
  </button>

<section>

</section>
