<section class="container mx-auto">
	<div class="grid grid-cols-10 text-center m-10">
		<a href="inicio_sesion">Iniciar Sesion</a>
		<a href="registro">Registro</a>
		<a href="catalogo">Catalogo</a>
		<a href="carrito">Carrito</a>
		<a href="perfil"> Perfil</a>
		<img src="assets/imagenes/Koala.png">
	</div>
</section>
<section>
	<div>Categorias: </div>
    <div class="flex flex-row ...">
		<div class="flex flex-col ...">
			<div>Imagen</div>
			<div>Imagen</div>
		</div>
		<div class="flex flex-col ...">
			<div>Nombre Producto</div>
			<div>Precio</div>
            <div class="flex flex-row ...">
                <div>Cantidad:</div>
                <div><input type="number" name="cantidad" id="cantidad"  min="0" max="100" >
                </div>
            </div>
			<div>Descripcion</div>
		</div>
	</div>
</section>