<section class="container mx-auto">
	<div class="grid grid-cols-10 text-center m-10">
		<a href="inicio_sesion">Iniciar Sesion</a>
		<a href="registro">Registro</a>
		<a href="catalogo">Catalogo</a>
		<a href="carrito">Carrito</a>
		<a href="perfil"> Perfil</a>
		<img src="assets/imagenes/Koala.png">
	</div>
</section>
